.toggleOn{
    display: block;
}
.toggleOff{
    display: none;
}
#pageNumbers a{
    color: gray;
}
.field_name{
    display: inline-block;
}
#column_names th{
    border-left:1px solid;        
    border-bottom :1px solid;
}
#column_names th:nth-child(1){
    border-left:transparent; 
}
#bulletin_board_container table{
    margin: auto;
    border: 1px solid;
    font-size: 16px;
}
#bulletin_board_container td, #bulletin_board_container th{
    padding: 4px;
}
/* #bulletin_board td{
    border-left:1px solid;        
    border-bottom :1px solid;
} */
#bulletin_board .id{
    width: 60px;
}
#bulletin_board .kind{
    width: 142px;
}
#bulletin_board .title{
    width: 650px;        
}
#bulletin_board .author{
    width: 100px;        
}
#bulletin_board .date{        
    width: 120px;
}
#bulletin_board .hits{
    width: 60px;        
}
input[name=kind]{
    display: none;
}
.kind_option{
    display: inline-block;
}
.kind_option > label{
    cursor: pointer;
}
#main_title{
    font-size: 40px;
    color: #2196F3;
    font-family: corben, sans-serif;
    margin: 40px auto;
    padding: auto;
    width: 900px;
}
.tag{
    background-color: #c3c3c3a1;
    margin: 0 2px;
    color: #2b2a2a;
    font-size: 0.8em;
    cursor: pointer;
} 
input[type=file]{
    display: none;
}
.close_icons{
    cursor: pointer;
}

tr .title{
    cursor: pointer;
}
.field{
    margin: 5px 0px;
}
#write_article_container{
    width: 950px;
    margin: 40px auto;
    height: 900px;
}
#new_article #sticky_field{
    background-color: yellow;
    color: black;
    width: 91px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid brown;
    border-bottom-color: transparent;
    text-align: center;
}
#new_article #sticky_field:hover {
    background-color:blue;
    color: white;
}
#write_article_container #new_article .sticky_is_on {
    background-color:blue;
    color: white; 
}
#new_article #sticky_field input{
    display: none;
}
#new_article #sticky_field:hover{
    background-color: blue;
    cursor: pointer;        
}
#new_article input, #new_article textarea,  #new_article select{
    font-size: 16px;
}
#new_article input[name=title]{
    margin-left: 62px;
    width: 500px;
}
.field:nth-child(2){
    display: block;
}
.field:nth-child(4){
    display:inline-block;
    margin-left: 40px;
}
.field:nth-child(8){
    margin-top: 12px;
}
/* .field:nth-child(6) .field_name{
    position: relative;
    top: -493px;
} */
.field:nth-child(7) .field_name{
    display: inline-block;
}
#instructionForTags{
    display: inline-block;
    margin: 10px 0px;
    margin-left: 74px;
    margin-top: 3px;
}
#new_article input[name=password]{
    margin-left: 37px;
    width: 60px;
}

#new_article select{
    margin-left: 59px;
    font-size: 16px;
}
#new_article textarea{
    margin-left: 27px;
    margin-top: 9px;
    width: 702px;
    height: 500px;
}
#new_article input[name=tags]{
    margin-left: 108px;
    margin-right: 17px;
}
#new_article #file_button{
    margin-left: 80px;
    margin-right: 19px;
}
#new_article #write_article_submit_button{
    cursor:pointer;
    font-size: 20px;
    color: #2196F3;
    background-color: #ffffff;
    height: 51px;
    width: 139px;
    margin-left: 683px;
    font-weight: bold;
    position: relative;
    top: 44px;
}
#new_article #added_tags{
    margin-left: 108px;
    margin-top: 11px;
}
.pgNums{
    cursor: pointer;
}
#read_article_container{
    width: 990px;
    margin: 40px auto;
}
#read_article_container table{
    width: 900px;
    border-spacing: 0px;
    border-collapse: collapse;
}
#read_article_container tr,#read_article_container td{
    border:solid 1px black;
}

#read_article_container th{
    border:solid 1px black;    
    width: 94px;
}

#read_article_container td#readA_content{
    height: 500px;
    vertical-align: top;
    overflow-y: scroll;
}

#readA_replyButton{
    cursor:pointer;
    font-size: 20px;
    color: #2196F3;
    background-color: #ffffff;
    height: 51px;
    width: 156px;
    font-weight: bold;
    margin: 20px 0px;
    margin-left: 744px;
}
/* #read_article_container #backToBBButton{
    cursor:pointer;
    font-size: 20px;
    color: #2196F3;
    background-color: #ffffff;
    height: 51px;
    width: 156px;
    font-weight: bold;
    margin: 20px 0px;
    margin-left: 744px;
} */

.file_detail_size {
    margin: 0 20px;
}
.container .enter_pw{
    position: relative;
    top: 243px;
    left: 138px;
    height: 57px;
    width: 350px;
}