<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <style>

        
        @media screen and (max-width: 481px) {

        }

        body {
            padding: 0;
            margin: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #divcontainer {
                text-align: center;
        }

        input, #signbutton {
            display: block;
            width: 260px;
            height: 50px;
            margin: 18px 0px 18px 10px;
        }

        #signupbutton{
            border: 1px solid lightgrey;
        }
    
    
    </style>
</head>
<body>

    <div>
            <div id="divcontainer">SIGN UP</div>
            <input placeholder="First Name" id="firstname">
            <input placeholder="Last Name" id="lastname">
            <input placeholder="Username" id="user"><!--user name-->
            <input placeholder="Email Adress" id="email" type="email">
            <input placeholder="Password" id="password" type="password"><!--password-->
            <input type="date" id="birthday">
            <textarea id="bio"> </textarea>
            <input type="file" id="pic" accept="image/*"> 


            <button id="signupbutton">Sign Up</button><!--log in button-->
            <div>Already have an account?<a href="login.html">Sign in</a></div><!--dont have an account?-->


    </div>


    <script>
        var signUpButton = document.querySelector("#signupbutton")
        var firstName = document.querySelector("#firstname")
        var lastName = document.querySelector("#lastname")
        var email = document.querySelector("#email")
        var pass = document.querySelector("#password")
        var birthday = document.querySelector("#birthday")
        var bio = document.querySelector("#bio")
        var userPic = document.querySelector("#pic")

        
        String.prototype.hashCode = function() {
            var hash = 0;
            if (this.length == 0) {
                return hash;
            }
            for (var i = 0; i < this.length; i++) {
                var char = this.charCodeAt(i);
                hash = ((hash<<5)-hash)+char; // bitwise operation left shift
                hash = hash & hash; // Convert to 32bit integer
            }
            return hash;
        };

        window.addEventListener("load",  function() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(xhttp.responseText));
                    var thisProfile = JSON.parse(xhttp.responseText);
                    firstName.value = thisProfile.thisFirstName;
                    lastName.value = thisProfile.thisLastName;
                    email.value = thisProfile.thisEmail;
                    bio.value = thisProfile.thisBio;
                    pic.value = thisProfile.thisPic;
                    
                }
            };
            xhttp.open("POST", "../backend/user_profile.php");
            xhttp.send();
        })

        signUpButton.addEventListener("click", function(){
                if(firstName.value !== "" && lastName.value !== "" && email.value !== "" && pass.value !== ""){
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            alert("yay it worked")//this will bring you to the homepage later on
                        }
                    };
                    xhttp.open("POST", "sign_log.php");
                    
                    var thisUser = {
                        user_firstName: firstName.value,
                        user_lastName: lastName.value,
                        user_email: email.value,
                        user_pswrd: pass.value.hashCode(),
                        user_bday: birthday.value,
                        user_bio: bio.value,
                        user_pic: userPic.value
                    }
                    var sendUser = JSON.stringify(thisUser);
                    console.log(sendUser)
                    xhttp.send(sendUser);
                }
                else
                alert("Please make sure to fill out the fileds.")
            })
    </script>
    
</body>
</html>