<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <input placeholder="search"> 
    <button id="searchbutton">search</button>

    <div id="userlocation"></div>

    <script>
        var searchButton = document.querySelector("#searchbutton");
        var userLocation = document.querySelector("#userlocation");

        searchButton.addEventListener("click", function(){
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(userPos);
            }
            else {
                userLocation.innerHTML = "didnt work";
            }
        })

        function userPos(thisPosition) {
            userLocation.innerHTML = thisPosition.coords.latitude + "<br>" +thisPosition.coords.longitude;
        }

    </script>
    
</body>
</html>